/* 
    https://www.w3schools.com/css/css3_borders.asp
    https://supersimple.dev/exercises/buttons
    https://www.youtube.com/watch?v=G3e-cpL7ofc
    https://supersimple.dev/exercises/text
    html entity checkmark
    https://fonts.google.com/
    */

    p {

    font-family: Roboto;
    
    }
    